* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
.main-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkkhaki;
}
.addItems {
  display: flex;
  justify-content: center;
  align-items: center;
}
.addItems input {
  padding: 14px 24px;
  outline: none;
  border: none;
  border-radius: 7px;
  width: 100%;
}
.addItems input::placeholder {
  padding: 0%;
}
.add-btn {
  background: white;
  font-size: 15px;
  padding: 10px;
  border-radius: 7px;
  margin-left: 12px;
  cursor: pointer;
}
.add-btn:hover {
  background: wheat;
}
.btn {
  margin-top: 1rem;
  display: inline-block;
  border-radius: 0.5rem;
  padding: 10px 20px;
  background: white;
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: 500;
}

.btn:hover {
  background: wheat;
}
.list-items {
  padding: 14px 24px;
  border-radius: 7px;
  width: 100%;
  background-color: #fff;
  margin: 10px 0px;
}
